.dark { background-color: brown; }
.light { background-color: turquoise; }
h1 { text-align: center; }
body {
    background-image: linear-gradient(to bottom right, yellow, purple);
    background-repeat: round;
    position: relative;
    justify-content: center;
}
#board {
    display: grid;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
    grid-gap: 0;
    grid-template-columns: 45px 45px 45px 45px 45px 45px 45px 45px 20px;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px 20px;
    text-shadow: 1px 1px white;
}
#rules {
    display: inline-block;
    background-color: rgba(245, 245, 220, 0.5);
    border: solid;
    border-color: aliceblue;
    padding: 0 25px;
}
.cell {
    position: relative;
    overflow: hidden;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: ;
}
.r7 { grid-row: 1; }
.r6 { grid-row: 2; }
.r5 { grid-row: 3; }
.r4 { grid-row: 4; }
.r3 { grid-row: 5; }
.r2 { grid-row: 6; }
.r1 { grid-row: 7; }
.r0 { grid-row: 8; }
.cols {
    grid-row: 9;
    text-align: center;
    margin: 0;
}
.c0 { grid-column: 1; }
.c1 { grid-column: 2; }
.c2 { grid-column: 3; }
.c3 { grid-column: 4; }
.c4 { grid-column: 5; }
.c5 { grid-column: 6; }
.c6 { grid-column: 7; }
.c7 { grid-column: 8; }
.rows { grid-column: 9; }
img {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.buttonDiv {
    text-align: center;
    margin: 10px;
}
@keyframes cellAnimYellow {
    50% {background-color: yellow;}
}
@keyframes cellAnimRed {
    50% {background-color: red;}
}
@keyframes cellAnimGreen {
    50% {background-color: green;}
}